<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>

    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body background="image/background.jpg">
<div id="app">
    <div id="register">
        <el-form ref="form" :model="form" label-position="left" label-width="80px">
            <div class="formtitle">注册</div>
            <hr/>
            <el-form-item label="登录名">
                <el-input v-model="form.username" placeholder="请输入登录名"></el-input>
            </el-form-item>

            <el-form-item label="用户名">
                <el-input v-model="form.name" placeholder="请输入用户名" hide-required-asterisk="true"></el-input>
            </el-form-item>

            <el-form-item label="密码">
                <el-input v-model="form.password" placeholder="请输入密码" show-password></el-input>
            </el-form-item>

            <el-form-item label="重复密码">
                <el-input v-model="form.repeatPassword" placeholder="请重复密码" show-password></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="success" @click="register">注册</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<script>
    var vue = new Vue({
        el:'#app',
        data:{
            form:{
                username:'',
                name:'',
                password:'',
                repeatPassword:''
            }
        },
        methods:{

            register(){
                if(this.form.username===''){
                    vue.$message.error('请输入登录名！');
                }
                else if(this.form.name===''){
                    vue.$message.error('请输入用户名！');
                }
                else if(this.form.password===''){
                    vue.$message.error('请输入密码！');
                }
                else if(this.form.repeatPassword===''){
                    vue.$message.error('请重复密码！');
                }
                else if(this.form.password!==this.form.repeatPassword){
                    vue.$message.error('两次密码不相等！');
                }
                else{
                    $.ajax({
                        url:'/user/register',
                        type:'post',
                        data:{
                            username:this.form.username,
                            name:this.form.name,
                            password:this.form.password,
                        },
                        success(res){
                            if(res===true){
                                vue.$message.success('注册成功！');
                            }
                            else vue.$message.error('注册失败');
                        },
                        error(res){
                            vue.$message.error('error');
                        }
                    });
                }
            }
        },
        mounted:function () {

        }
    })
</script>
</html>